*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
#main{
    background-color: black;
    color: white;
}
#result{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#result img{
    width: 500px;
    height: 500px;
    margin: 10px;
    object-fit: fill;
}

@media screen and (max-width: 400px) {
  #result img{
    width: 300px;
    height: 300px;
    margin: 10px;
    object-fit: fill;
}
}